Source: ros-hydro-clearpath-common
Section: misc
Priority: extra
Maintainer: "Alex Bencz <abencz@clearpathrobotics.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/clearpath_common
Standards-Version: 3.9.2

Package: ros-hydro-clearpath-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The clearpath_common package
