Source: ros-hydro-clearpath-teleop
Section: misc
Priority: extra
Maintainer: "Alex Bencz <abencz@clearpathrobotics.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/clearpath_teleop
Standards-Version: 3.9.2

Package: ros-hydro-clearpath-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Description: The clearpath_teleop package contains basic nodes used to quickly launch your Clearpath Robotics platform with a joystick control.
